.TextField fieldset {
    border-radius: 50px;
    border-color: #FAD02C;
}

.Autocomplete fieldset {
    border-radius: 50px;
    border-color: #FAD02C;
}

.MuiSvgIcon-root {
    color: #FAD02C;
}

#google-map-demo {
    color: #FAD02C;
}